.cardSBasic {
    background: #e7e7e7 !important;
    color: #000000;
}

.cardSBasic2 {
    background: palegoldenrod !important;
    color: #000000;
}
.cardFlex {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.borderRight {
    width:1px;
    height: 50px;
    border-right: 1px solid #bdafaf !important;
}

.chartDashboard {
    background: 'red'
}

.activeBtn {
    font-weight: 900;
    border: 1px solid #000;
    background: palegoldenrod !important;
    
}

.displayInlineFlex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.onlyFlex {
    display: flex;
    align-items: end;
    gap: 10px;
   
    cursor: pointer;
}

.cardSBasic23 {
    background: #e7e7e7;
    color: #000000 !important;
}

.onlyFlex2 {
    display: flex;
   
    gap: 3px;
   
    cursor: pointer;
}

.onlyFlex p{
    padding: 10px; 
}
.onlyFlex2 div{
    padding: 10px; 
}
.transactionL {
    list-style-type: none !important;
    padding: 0;
    color: #000000;
    
}

.transactionL li{
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 10px;
   
}

.transactionL li:hover{

    background: #e7e7e7;
 }
