
.groupBy {
    border: 1px dotted;
    padding: 10px;
    text-align: left;
    margin: 15px 30px;
    
position: relative;  
}
.flexDiv {
    display: flex;
    flex: auto;
   flex-wrap: wrap;
    width: 95%;
}  

.flexDiv .rs-picker {
    margin:5px;
}
.rs-input-group {
    width: 150px !important; 
}

.rs-modal-wrapper{
    display: flex;
    align-items: center;
    z-index: 9999 !important;
  }

  .rs-modal-sm {
    width: 200px !important;
}

.rs-badge-content {
    z-index: 9 !important;
}
.rs-toggle-presentation {
background: #3498ff !important;
}
.modalBackdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(2px) !important;
}  


.divIcon{
    background: #efefef;
    position: absolute;
    cursor: pointer;
    top: -20px;
    right: -15px;
    
    padding: 10px;
    border-radius: 50%;
}

.divIcon:hover {
    box-shadow: 1px 1px 2px;
}

.rs-modal-content {
    padding: 0px !important;
}
.rs-modal-header{
    background: #10122b !important;
    padding: 10px !important;
    
}
.rs-modal-header h4, .rs-btn-close{
    color: #ffffff !important;    
}
.rs-modal-body, .rs-modal-footer {
    padding: 10px;
}
.AdditionalButton {
    text-align: center !important;
}


.comment-container {
   display: flex;
    align-items: center;
    position: relative;
  }
  
  .chain {
    border-left: 2px solid gray;
    position: absolute;
    height: 100%;
    left: 11px; /* for you to adjust and line up */
  }
  
  .chain-top {
    top: 0;
  }
  
  .chain-bottom {
    top:50%;
  }
  
  .comment {
    width: 95% !important;
  }
 
  
  .comment-icon {
    margin-left: 11px;
   
    height: 2px;
    width: 50px;
  
    margin-right: -30px;
    background: gray;
    color: gray;
    z-index: 10;
}
.rs-btn {
    border-radius: 0px !important;
} 

.logo {
    height: 40px;
    
}

.rs-navbar-brand {
    padding:10px !important;
    margin-left:20px;
}
.rs-navbar {
background: #10122b !important;
color: #ffffff !important;
}
 
.active {
    background: #10122b !important;
    color: #ffffff !important;
    }

     
    .rs-dropdown-open.rs-dropdown-placement-bottom-start>.rs-dropdown-menu, .rs-dropdown-open.rs-dropdown-placement-top-start .alignLeft {
    right: 15px !important;
    left: -80px !important;
}


.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #10122b;
	color:#ffffff !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}
/*
 * Submenu - Buttons
 */
 .floating {
	position: fixed;
	right: 40px;
	padding-bottom: 10px;
	bottom: 80px;
	z-index: 100;
}
.floating li {
	list-style: none;
	margin-bottom: 10px;
}
.floating li a {
  width: 60px;
	height: 60px;
	background-color: #10122b !important;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	display: block;
    cursor: pointer;
}
/* Hidden Buttons */
a.float + ul {
  visibility: hidden;
}
/* Visible Buttons */
a.float:hover + ul {
  visibility: visible;
  animation: scale-in 0.5s;
}
ul:hover {
	visibility: visible !important;
}
/* Center icons */
a svg {
	font-size: 24px;
	margin-top: 18px;
    
}
/*
 * Animations
 */
a.float svg{
	animation: rotate-in 0.5s;
}
a.float:hover > i{
	animation: rotate-out 0.5s;
}
@keyframes bot-to-top {
    0%   {bottom: -60px}
    50%  {bottom: 40px}
}
@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}
@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.rs-sidenav-item{
    display: flex !important;
    align-items: self-end !important;
    gap: 10px !important;
}
